<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/pp.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/profile.png');"></div>
                <h3><a class="light">Tharindu Ranathunga</a></h3>
                <h4><a class="dark">Developer</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.questions" class="tab-item">
                <i class="icon ion-android-list"></i> Questions
            </a>
            <a ui-sref="app.map" class="tab-item">
                <i class="icon ion-android-map"></i> Map
            </a>
            <a ui-sref="app.settings" class="tab-item">
                <i class="icon ion-android-settings"></i> Settings
            </a>
        </div>
        <h4 class="content padding double-padding-x">Ask a Question</h4>
<hr>
       <div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type here">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</div>

<hr>

<center>
<label> --- People Nearby --- </label>
</center>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.map" class="item item-avatar item-icon-right">
                <img src="img/sumedhe.jpg">
                <h2>Sumedhe Dissanayake</h2>
                <p>Expert on Photography, Music...</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>

           

            <a ui-sref="app.map" class="item item-avatar item-icon-right">
                <img src="img/oshan.jpg">
                <h2>Oshan Mudannayake</h2>
                <p>Expert on Android, Web Developing, PHP...</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>

            <a ui-sref="app.map" class="item item-avatar item-icon-right">
                <img src="img/supul.jpg">
                <h2>Supul Dulanka</h2>
                <p>Expert on Electronics, Mechanics...</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>

            <a ui-sref="app.map" class="item item-avatar item-icon-right">
                <img src="img/pramodya.jpg">
                <h2>Pramodya Abaysinghe</h2>
                <p>Expert on C, C++, Java...</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>


        </div>

<!--
        <ul class="list">

  <li class="item item-toggle">
     HTML5
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

<div class="item range range-positive">
    <i class="icon ion-ios-sunny-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-sunny"></i>
  </div>

</ul>
-->

       
    </ion-content>
</ion-view>
