<ion-view view-title="Questions">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong>#Physics</strong> What is higgs bozon?
                    <div class="card-footer text-right">
                        <i class="icon ion-ionic royal"></i>
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong>#CS</strong> I can't understand Asymptotic Analysis.
                    <div class="card-footer text-right">
                        <i class="icon ion-checkmark-circled balanced"></i> 3
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 1 day ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong>#Android</strong> I am goint to make an Android app. But I don't know how to start.
                    <div class="card-footer text-right">
                        <i class="icon ion-checkmark-circled balanced"></i> 5
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 1 week ago
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
