<ion-view title="Search" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="search-form3" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="What do you want to know? ">
      </label>
    </form>
    <div id="search-container2">
      <form id="search-form4" class="list">
        <label class="item item-input" id="search-input2">
          <input type="text" placeholder="Tag">
        </label>
        <button id="search-button2" class="button button-positive icon ion-android-add"></button>
      </form>
    </div>
    <button id="search-button1" class="button button-positive button-block">Search</button>
  </ion-content>
</ion-view>